---

import Layout from '../layouts/Layout.astro';
import menu from '../assets/menu.webp';
import { Image } from "astro:assets"

---

<Layout>
	<div class="h-screen bg-black ">

		
		 <Image src={menu} alt="Menu bar licores precios" /> 
		
	</div>
</Layout>
