---

import Layout from '../layouts/Layout.astro';
import menu from '../assets/menu.webp';
import { Image } from "astro:assets"

//#14080
---

<Layout>
	<div class="h-screen bg-primary ">

		
		 <Image src={menu} alt="Menu bar licores precios" /> 
		
	</div>
</Layout>
